 <!DOCTYPE html>
<html lang="en">
<head>
  <title>COVID DATABASE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  
<style>
button {
	position: relative;
	top: 5px;
	background-color: #FFFFFF;
	border: 2px solid #6495ED;
}
</style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">COVID DATABASE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
	  {% if not session['usr'] %}
      <li><a href="login">Login</a></li>
	  {% else %}
      <li><a href="test">Select All Rows</a></li>
      <li><a href="#">Other</a></li>
	  {% endif %}
    </ul>
	<ul class="nav navbar-nav navbar-right">
	{% if session['use_mongo'] %}
        <button onclick="window.location.href='switch_db'">Current Database: MongoDB<br/>Click to Switch!</button>
	{% else %}
		<button onclick="window.location.href='switch_db'">Current Database: SQL<br/>Click to Switch!</button>
	{% endif %}
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html> 