{% extends "base.html" %}
{% block content %}
<div id="form1">
<form action="chart" method="POST">
<label>Breakdown by:</label>
<select id="breakdown" name="by">
  <option value="gender">Gender</option>
  <option value="age">Age</option>
  <option value="race">Race</option>
</select>
<br>
<label>With Status:</label>
<select id="cases" name="cases">
  <option value="In Hospital">In Hospital</option>
  <option value="At Home">At Home</option>
  <option value="Recovered">Recovered</option>
  <option value="Deceased">Deceased</option>
</select>
<br>
<label>Chart Type:</label>
<select id="type" name="type">
  <option value="pie">pie</option>
  <option value="bar">bar</option>
  <option value="doughnut">doughnut</option>
  <option value="polarArea">polarArea</option>
</select>
<br>
<button>Show Chart</button>
</form>
</div>
<div id="main">
<div id="chartDiv">
<canvas id="myChart" width="400" height="400"></canvas>
</div>
{% if status %}
{% if session['role'] == "hospital_admin" %}
<div id="updateData">
<button type="button" class="cont">Quick View</button>
<form class="form1" action="chart" method="POST">
        <label>Select:</label>
        <input type="text" id="test1" name="showFields">
        <button>Show Attributes</button>
        {% if dataList %}
        <ol>
        {% for i in dataList %}
        <li>
        {% if i is mapping %}
        {% for j in i.values() %}
        {{ j }}
        {% endfor %}
        {% else %}
        {% for j in i %}
        {{ j }}
        {% endfor %}
        {% endif %}
        </li>
        {% endfor %}
        </ol>
        {% endif %}
</form>
</div>


<div id="updateData2">
        <button type="button" id="cont2" class="cont">Quick Update</button>
        <form action="chart" class="form1" method="POST">
                <label>Id:</label>
                <input type="text" id="test1" name="idToUpdate">
                <br>
                <label>
                    Attribute To Update
                </label>
                <input type="text" id="test1" name="attrToUpdate">
                <br>
                <label>New Value</label>
                <input type="text" id="test1" name="newValue">
                <button id="b1">Update Data</button>
                <br>
                {% if successfulUpdate %}
                <p>Successfully Updated the Database</p>
                {% endif %}
        </form>
        </div>

{% endif %}
{% endif %}

</div>
<style>

.cont {
  background-color: rgb(104, 185, 240,.6);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

#cont2{
    background-color: rgba(255, 99, 132, 1);
}

.form1{
    margin-top: 1vw;

}


.active, .collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#main{
    width: 95vw;
}
#form1{
    position: relative; 
    left: 10px;
}
#chartDiv{
    float: left; 
    left: 10px;
    height: 60vw;
    width: 60vw;
}
#updateData{
    float: right;
    top: 0px;
    right: 10px;
    border-color:rgb(104, 185, 240,.2);
    border-width: 3px;
    height: 30vw;
    width: 30vw;
    border-style: solid;
    overflow: scroll;

}

#updateData2{
    float: right;
    bottom: 0px;
    right: 10px;
    border-color:rgba(255, 99, 132, .4);
    border-width: 3px;
    height: 25vw;
    width: 30vw;
    border-style: solid;
    overflow: scroll;
    margin-top: 5vw;
}

#b1{
    border: 2px solid rgba(255, 99, 132, 1);
}

</style>

<script type="text/javascript">
{% if status %}
document.getElementById("cases").value = "{{ status }}"
document.getElementById("type").value = "{{ type1 }}"
document.getElementById("breakdown").value = "{{ category }}"
{% endif %}
</script>



{% if chart_data %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
var covid_labels = [];
var covid_num = [];

{% for key, val in chart_data.items() %}
	covid_labels.push("{{ key }}");
	covid_num.push({{ val }});
{% endfor %}
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: '{{ type1 }}',
    data: {
        labels: covid_labels,
        datasets: [{
            label: 'Covid Cases',
            data: covid_num,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endif %}
{% endblock %}