{% extends "base.html" %}
{% block content %}
<div class="container">
    <legend style="padding: 5px;">Add Hospital Data</legend>
    <form action="{{url_for('addHospitalData')}}" method="POST">
        <!-- Hidden Field adds CSRF protection to form -->
        {{ form.hidden_tag() }}
        <!-- Hospital ID -->
        <div class="form-group">
            {{ form.hospital_id.label(class="form-control-label") }}
            {% if form.hospital_id.errors %}
            {{ form.county(class="form-control is-invalid") }}
            <div class="alert alert-danger">
                {% for error in form.hospital_id.errors%}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.hospital_id(class="form-control") }}
            {% endif %}
        </div>
        <!-- Hospital Name -->
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
            {{ form.name(class="form-control is-invalid") }}
            <div class="alert alert-danger">
                {% for error in form.name.errors%}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.name(class="form-control") }}
            {% endif %}
        </div>
        <!-- County ID -->
        <div class="form-group">
            {{ form.county_id.label(class="form-control-label") }}
            {% if form.county_id.errors %}
            {{ form.county_id(class="form-control is-invalid") }}
            <div class="alert alert-danger">
                {% for error in form.county_id.errors%}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.county_id(class="form-control") }}
            {% endif %}
        </div>
</div>
{% endblock %}