{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="width: 100%; max-width: 330px; padding: 15px;margin: auto;">
	<legend style="text-align: center; padding: 5px;">Login</legend>
	<form action="/login" method="POST">
		<div class="form-group">
			<label for="usr">Username</label>
			<input id="tbname" class="form-control" name="usr">
		</div>
		<div class="form-group">
			<label for="pass">Password</label>
			<input id="tbname" class="form-control" name="pass" type="password">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<div style="text-align: center; padding: 10px;">
		<p>Don't have an account? <a href="{{url_for('register')}}">register</a> now!</p>
	</div>
</div>

{% endblock %}
